* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ae9cff;
}

header {
  background-color: #4b538b;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

span {
  font-size: 30px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 28px;
  margin-right: 10px;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 20px;
  padding-top: 8px;
  font-size: 18px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: none;
  font-size: 19px;
  color: rgb(191, 202, 175);
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.input h2,
.output h2 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
textarea {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button {
  background-color: #4285f4;
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #357ae8;
}

.output {
  margin-top: 2px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

#result {
  white-space: pre-wrap;
}
